.swiper {
    z-index: 200;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 0;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 90px !important;
    z-index: 500;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 90px !important;
    z-index: 500;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {

    opacity: 0;
    color: black !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-next:after {
    opacity: 0;
    color: black !important;
}

.swiper-button-prev {
    background-image: url(../../../img/left.png) !important;
    width: 30px;
    background-size: cover;
    height: 30px;
    opacity: .3;

}

.swiper-button-next {
    background-image: url(../../../img/right.png) !important;
    width: 30px;
    background-size: cover;
    height: 30px;
    opacity: .3;
}

.swiper-pagination-bullet-active {
    background-color: #ff7b7b !important;
}

.swiper-pagination {
    bottom: 60px !important;
}





@media (max-width:1300px) {

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: 50px !important;
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: 50px !important;
    }

}

@media (max-width:1024px) {

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: 10px !important;
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: 10px !important;
    }

    .ani-container {
        width: 100%;
        display: grid;
        place-items: center;

    }

    .ani {
        width: 70%;
        max-width: 250px;
        margin: 0 auto;

    }

}