.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 70px;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: white;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 120px;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    justify-content: center;
    height: 100%;
    transition-duration: 400ms;
}

.header ul li {
    height: 100%;
}

.header ul a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1rem;
    line-height: 70px;
    display: block;
    height: 100%;
    transition-duration: 200ms;
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;

}

.header ul a::after {
    content: "";
    position: absolute;
    border-bottom: 0px solid #060957;
    border-radius: 1rem;
    width: 100%;
    bottom: -2.5px;
    transition-duration: 100ms;
}

.header ul a:hover::after {
    border-bottom: 3px solid #9fa1e6;
}

.header ul a:hover {
    transform: translateY(-2.5px);
}

/* active list */

.nav--active {
    transform: translateY(-2.5px);
}

.nav--active::after {
    border-bottom: 3px solid #060957 !important;
}

/* mobile */
.header .menu__content_box_bar {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    display: none;

}

.btn-close {
    display: none;
}

@media (max-width:620px) {
    .header .menu__content_box_bar {
        display: flex;
        align-items: center;
    }

    .header ul {
        right: -250px;
        position: fixed;
        width: 220px;
        flex-direction: column;
        background-color: white;
        top: 0;
        z-index: 200;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .header ul.menu--active {
        right: 0;
    }

    .header ul li {
        height: 100px;
        width: 100%;
    }

    .header ul li a {
        justify-content: center;
        font-size: 1.1rem;
    }

    .header ul a::after {
        height: 100%;
        width: 0px;
        right: -2.5px;
        top: 0;
        z-index: 120;
        background-color: #9fa1e6;
        border-bottom: 0px;
    }

    .header ul a:hover::after {
        width: 6px;

    }

    .header ul a:hover {
        transform: translateX(-3.5px);

    }

    .header ul .nav--active {
        transform: translateX(-3.5px);
    }

    .header ul .nav--active::after {
        width: 6px;
        background-color: #060957;
    }

    .btn-close {
        display: block;
        position: absolute;
        top: 22px;
        left: 12px;
    }

    .modal__menu {
        position: fixed;
        background-color: rgb(0 0 0 / 51%);
        width: 200vw;
        height: 200vh;
        left: 0;
        animation: modal-fade 700ms;
        transition-duration: 400ms;
    }

    @keyframes modal-fade {

        0% {
            opacity: 0;
        }

        50% {
            opacity: 5;
        }

        100% {
            opacity: 1;
        }

    }


}